.side-drower{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.938);
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.side-li{
    border-bottom: 1px solid rgb(80, 80, 170);
    padding-bottom: 10px;
    
}
.side-li:hover,
.side-li:active,
.side-li.active{
    border-bottom: 1px solid rgb(199, 172, 22);
}
.main-side{
    background-color:  rgba(80, 80, 170, 0.644);
}
.side-drower.open{
    transform: translateX(0);
}

.side-drower ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.side-drower li{
    margin-top: 0.5rem;
    margin-right: 5rem;
}
.side-drower a{
    color: rgb(80, 80, 170);
    text-decoration: none;
    font-size: 1.5rem;

}
.side-drower a:hover,
.side-drower a:active,
.side-drower a.active{
    color: rgb(199, 172, 22);
}


