.main-navigtion{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: black;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.main-navigation-logo{
    margin-left: 1rem;

}
.main-navigation-logo h1{
    margin-left: 0.5rem;
    font-size: 2rem;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.spacer{
    flex: 1;
}
.main-navigation-item{
    margin: 1.5rem;
}
.main-navigation-item ul{
    display: flex;
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.main-navigation-item li{
    margin: 0 1rem;
}

.main-li{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    
}
.main-li:hover,
.main-li:active,
.main-li.active{
    border-bottom: 1px solid rgb(199, 172, 22);
}

.main-navigation-item a{
    text-decoration: none;
    color: white;
}
.main-navigation-item a:hover,
.main-navigation-item a:active,
.main-navigation-item a.active{
    color: rgb(199, 172, 22);

}

@media (max-width: 768px){
    .main-navigation-item{
        display: none;
    }
    .logo-icon{  
        display: none;
        
    }
    .logo-icon-desktop{
      margin: 2.5rem;
      width: 40px;
     
    }
    .main-navigation-logo h1{
        font-size: 1.5rem;
        margin-left: 1rem;
        text-align: center;
    }
}

@media (min-width: 769px){
    .main-toggle-button{
        display: none;
    }
    .main-navigation-logo{
        margin-left: 0;
    }
    .logo-icon-desktop{
        display: none;
    }
    
}