.side-card{
    display: flex;
    flex-direction: column;
    
    height: auto;
    background-color: white;
    border: 1px solid #fff;
    -webkit-box-shadow: 7px 10px 13px -5px rgba(0,0,0,0.47); 
    box-shadow: 7px 10px 13px -5px rgba(0,0,0,0.47);
    margin: 5%;
    
  
  }
  .side-img{
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
   
  }
  .side-name{
    padding-left: 10%;
      z-index: 1;
      color: rgb(199, 172, 22);
      font-size: 80%;
      margin-bottom: 10%;
      
    } 
    .side-title{
      padding: 0%;
    }
    .side-full-article{ 
      margin-top: 10px; 
      font-size: 0.8rem;
      text-align: center;
      margin: 0% 10% 3%;
      padding: 2%;
      border: 1px solid rgb(199, 172, 22);
      
    }
    .side-full-article:hover{
      color: white;
      background-color: rgb(199, 172, 22);
    }