.main-content{
  margin: 4rem 2.5rem;
}

.App {
  text-align: center;
}
.nav-wrapper{
  height: 100px;
  background-color: black;
  
}

.title{
  margin: 0;
  padding-top: 15px;
  text-align: center;
}
.scroll-up{
  
    position: 'fixed';
    bottom: 50px;
    right: 0px;
    cursor: 'pointer';
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    
  
}
  .row{
    /* display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: minmax(300px, auto);
    
     gap: 1%; */
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
   
  
} 
.content{
  /* grid-column: 2/ span 4;
  display: flex;
   flex-wrap: wrap;
   flex-direction: row; */
 
}
hr{
  bottom: 3%;
}
/* @media (max-width: 768px) {
  .row {
    flex:  60%;
  }
} */

.sideNews{
  display: none;
}
/*
.navbar-fixed{
  height: 110px;
  opacity: 0.6;
 
}
nav{
  height: 110px;
}
.r{
  flex-grow: 1;
} */

.App-header {
 


 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}






