.main-content{
 
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-flow: column;
  grid-auto-columns: 300px 100px;
  margin-top: 10%;
 
}
.row{
  grid-column: 1/ span 8;
  margin: 0;
  
}
.row-side{
 
  grid-column: 10/ span 3;
  background-color: rgba(128, 128, 128, 0.432);
  margin: 5%;
  
 
  
}
.v1{
  background-color: gray;
  height: 100%;
  width: 5%;
}

.App {
  text-align: center;
}
.nav-wrapper{
  height: 100px;
  background-color: black;
  
}

.title{
  margin: 0;
  padding-top: 15px;
  text-align: center;
}
.scroll-up{
  
    position: 'fixed';
    bottom: 50px;
    right: 0px;
    cursor: 'pointer';
    transition-duration: 1s;
    transition-timing-function:step-end;
    transition-delay: 3s;
    
  
}
 

hr{
  bottom: 3%;
}




.App-header {
 


 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
@media (min-width: 769px){
  .main-content{
    margin: 5rem 0.5rem;
  } 
}

@media (max-width: 768px){
  .main-content{
    margin-top: 5rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  } 
  /* .row{ 
     width: 100%; 
}  */
.row-side{
  display: none;
}

}






